@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,длина @0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    background: rgb(199, 237, 215);
    margin: 0;
    position: fixed;
}
.logo{
    width: 60%;
    display:flex;
}
.logo img{
    width: 8em;
}
.logo ul{
    display: flex;
}
.logo ul li {
    margin:5%;
    list-style-type:none ;
    text-decoration: none;
}
nav{
    width:100%;
    display: inline-block;
    height: 50px;
}
nav ul{
    width: auto;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    text-decoration: none;
    
}
nav ul li{
    margin: 2% auto;
    list-style-type:none ;

}
.menu  li {
    display: block;
    position: relative;
  }
.menu a {
    vertical-align: middle;
    text-decoration: none;
    color: rgb(44, 45, 53);
    font-family: Comfortaa;
    font-size: 1em;
    font-weight: 500;
}
.menu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.menu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}
.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 300px;
    height: 100px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
  }
  .menu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  .submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
  }
  .submenu a:hover {background: #e8e8e8;}
li img{
    width: 25%;
}
.d3 {
    width: 30%;
    
}
form {
  background: #e8eeed;
  border-radius:20px;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
form{
    display: flex;
    justify-content: space-around;
}
.d3 input {
  width: 70%;
  height: 32px;
  padding-left: 15px;
}
.d3 button {

  height: 42px;
  width: 42px;
  cursor: pointer;
  color:rgb(195, 72, 72);
}
button img {
    width: 40px;
}
main {
    margin: 0 auto;
    padding: 6% 0 0 0;
    width: 100%;
    background: rgb(255, 255, 255);
}
.content{
    width: 90%;
    margin: 0 auto;
    padding-top: 3%;
    height: 100%;   
}
.contents {
    font-family: Cuprum;
    font-size: 40px;
    margin: 2% 10%;
}
a {
    text-decoration: none;
}
.all{
    width: 100%;
}
.side{
    margin: 0 auto;
    width: 70%;
}
.choice {
    width:70%;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
}
.choice a {
    text-decoration: none;
    color: rgb(244, 246, 245);
    font-family: Comfortaa;
    font-style: bold;
    font-size: 12px;
    vertical-align: middle;
}
span {
    color: rgb(44, 45, 53);
    font-family: Comfortaa;
    font-size: 1em;
    font-weight: 500;

}
.genre{
    width: 40%;
    text-align: center;
    margin: 0 1%;
    border-radius: 20px;
    background: rgb(55, 107, 68);
}
.blocks {
    display: flex;
    width: 40%;

}
.producks {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book {
    width:31%;
    background: rgb(225, 237, 230);
    margin-bottom: 1%;
}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.images img{
    width: 92%;
    margin-top:10px;
    height: 350px;
}
span.fonts {
    color: rgb(44, 45, 53);
    font-family: Cuprum;
    font-size: 1em;
    display: block;
}
.prise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buy{
    text-decoration: none;
    color: rgb(89, 141, 102);
}
.button{
    border: 3px solid rgb(89, 141, 102);
    width: 90%;
    height:40px;
    text-align: center;
    font-size: 20px;
    margin:4% auto ;
    
}
footer{
    width: 100%;
    background: rgb(199, 237, 215);
    padding: 2%;
    display: flex;
    justify-content: center;
}
.out-has{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: Comfortaa;
    font-size: 0.8em;
}

.shop{
    font-size: 1.1em;
}
.color{
    color: rgb(93, 92, 92);
}
p.info{
    font-size: 0.8em;
    font-family: Comfortaa;
}
.info{
    margin:3px;
    color:rgb(93, 92, 92) ;
}
.out-has h3{
    font-family: Comfortaa;
}

@media screen and (max-width: 630px) {

    span.fonts {
    font-size: 0.5em;
    }
    .menu a {
        font-size: 0.7em;   
    }
    .button{
        font-size: 0.6em;
        height:10px;
        width: 50%;
        border: 1px solid rgb(89, 141, 102);
    }
    .out-has{
        font-size: 0.6em;
    }
    .forever {
        font-size: 0.6em;
    }
    .choice a {
        font-size: 0.4em;
    }

}
@media screen and (max-width: 350px) {
    span.fonts {
        font-size: 0.3em;
        }
        .menu a {
            font-size: 0.3em;   
        }
        .button{
            font-size: 0.2em;
            height:10px;
            width: 50%;
            border: 1px solid rgb(89, 141, 102);
        }
        .out-has{
            font-size: 0.2em;
        }
        .forever {
            font-size: 0.2em;
        }
        .choice a {
            font-size: 0.2em;
        }
}
